# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# 환경 변수 및 설정 파일
config.yaml
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
